.Rhistory
.RData
.Ruserdata
.Rproj.user/
data/*
!data/README.md
derived_data/*
results/*
!results/README.md
figures/*
*.rds
*.RData
*.xlsx
*.xls
*.fastq
*.fastq.gz
*.bam
*.sam
*.csv
*.tsv
*.tsv.gz
*.fq
*.fq.gz
*.cram
*.bai
*.zip
*.gz
.Renviron
.env
.env.*
*.pem
*.key
Thumbs.db
.DS_Store
